# ----------------------------------------------------------------
# Obsidian
# ----------------------------------------------------------------
.obsidian/

# ----------------------------------------------------------------
# Hugo
# ----------------------------------------------------------------
/verein-website/public/
/verein-website/resources/
.hugo_build.lock

# ----------------------------------------------------------------
# macOS (Apple Systemdateien)
# ----------------------------------------------------------------
.DS_Store
**/.DS_Store
._*
.github/.DS_Store
.DS_Store
.DS_Store
verein-website/static/.DS_Store
verein-website/layouts/.DS_Store
Hugo_Content_Playbook.md
