# ----------------------------------------------------------------
# Obsidian
# ----------------------------------------------------------------
.obsidian/

# ----------------------------------------------------------------
# Hugo
# ----------------------------------------------------------------
/verein-website/public/
/verein-website/resources/
.hugo_build.lock

# ----------------------------------------------------------------
# macOS (Apple Systemdateien)
# ----------------------------------------------------------------
.DS_Store
**/.DS_Store
._*
